html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px; /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.2);
}

.box_grafica {
    float: left;
    height: calc(100%);
    width: 100%;
}

#canvas_grafica {
    width: 100%;
    height: 100%;
    touch-action: none;
    outline: none;
}
